@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap')



body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(241, 241, 122);
    
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:4rem ;
}

/*----страницы-------------------------------------------------------------------------*/
#second_page{
    display: none;
}
#thith_page{
    display: none;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*----текст----------------------------------------------------------------------------*/
h1{
    font-family: "Madimi One", sans-serif;
    font-size: 4rem;
    margin: 1rem;
    color: rgb(255, 17, 124);
    text-align: center;
}
h2{
    font-family: "Madimi One", sans-serif;
    font-size: 3rem;
    margin: 1rem;
    color: rgb(255, 17, 124);
    text-align: center;
}
p{
    font-family: "Madimi One", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    color: rgb(255, 17, 124);
    text-align: center;
    width: 40rem;
}

/*----кнопки---------------------------------------------------------------------------*/
.btn{
    font-family: "Madimi One", sans-serif;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 17, 124);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: 2rem;
}



.second-no{
    position: absolute;
}





@media screen and (max-width: 540px) {
    .img{
        width: 14rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
        width: 20rem;
    }
}
